@import "tailwindcss";

/* GLOBAL RESET / BASE STYLES */
:root {
    --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* Apply system font to the entire app */
body {
    font-family: var(--font-system);
    line-height: 1.6;
}
